
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="{% url 'shop:store' %}">Store</a></li>
                    {% if category %}                    
                    <li><a href="{% url 'shop:store_by_category' category_slug=category.slug %}">{{category.name}}</a></li>
                    {% endif %}
                    {% if product %}                    
                    <li class="active"><a href="#">{{product.name}}</a></li>
                    {% endif %}                    
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->